Job Description.json
{
  "name": "Job Description",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d5db03f5-3a7f-4343-9aad-aaec215f75f7",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        -112
      ],
      "id": "35afb17e-3867-466a-92dc-714ad94827d7",
      "name": "Webhook",
      "webhookId": "d5db03f5-3a7f-4343-9aad-aaec215f75f7"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-ZngQ0wTYXVSL9QWaspyqBf77L9PCswNy1FACQxXVhQ",
          "mode": "list",
          "cachedResultName": "CV screening",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-ZngQ0wTYXVSL9QWaspyqBf77L9PCswNy1FACQxXVhQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-ZngQ0wTYXVSL9QWaspyqBf77L9PCswNy1FACQxXVhQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Position",
              "lookupValue": "={{ $json.body.position }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -176,
        -320
      ],
      "id": "c292e1a5-cd69-411d-bff9-eed11e0b9afb",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A8MbvQboaGafVfdA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85a8b56f-7233-493f-bfb5-75d2bff25560",
              "name": "Job Description",
              "value": "={{ $json.body.jobDescription }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        32
      ],
      "id": "b6f07a35-c589-43ad-b1ce-a07ce526de2b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85a8b56f-7233-493f-bfb5-75d2bff25560",
              "name": "Text",
              "value": "={{ $json.Text }}",
              "type": "string"
            },
            {
              "id": "6a929b16-ed2c-4c22-80e5-b067a88a1ff8",
              "name": "email",
              "value": "={{ $json.Email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -336
      ],
      "id": "afc98549-dd1e-4964-9ee5-cffbd834b081",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Text }}\n{{ $json[\"Job Description\"] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a strict and expert technical recruiter specializing in candidate screening.\n\nYou are given:\n1) A Job Description\n2) A Candidate Resume (CV)\n\nYour task is to analyze the CV strictly against the Job Description.\n\nRules:\n- Use ONLY information explicitly written in the CV and Job Description.\n- Do NOT assume, infer, or guess.\n- If something is missing, write exactly: \"Not specified in CV\".\n- Do NOT use markdown.\n- Do NOT wrap in ``` or ```json.\n- Return ONLY valid JSON. No text before or after.\n- For total_experience: calculate total months/years from explicitly stated dates in the CV. Include internships and distinguish from full-time. If no dates exist, write \"Not specified in CV\". Example: \"3 months internship (June 2023 – Sep 2023), no full-time experience\"\n\nEvaluation Rules:\n- Judge depth and relevance, not just keyword presence.\n- Consider junior vs senior suitability based on stated experience.\n- Consider business readiness only if supported by CV content.\n\nTech Stack Rules:\n- Only include categories with at least one skill explicitly written in the CV.\n- Omit empty categories entirely — never output an empty array.\n- Possible categories: \"Programming Languages\", \"Frameworks & Libraries\", \"Tools & Practices\", \"Databases / Data Technologies\", \"Cloud Platforms\", \"Web / API / System Architecture\", \"Other Skills / Soft Skills\"\n- List ONLY skills explicitly written in the CV. Do NOT add inferred or assumed skills.\n\nField Explanations:\n- total_experience.summary: State years/months of experience, distinguish internship vs full-time, and comment on relevance to the role.\n- total_experience.relevance_to_role: Explain how directly the candidate's experience maps to the job requirements — consider industry, seniority, and role type.\n- tech_stack: For each included category, list only CV-mentioned skills. Evaluate how well they align with the job description requirements.\n- candidate_strengths: List top strengths with specific references to resume skills, projects, and experience. Explain WHY each is a strength for this role.\n- candidate_weaknesses: List gaps and mismatches vs the job description. Be specific about what is missing or insufficient.\n- risk_factor: Explain the worst-case scenario if this candidate is hired — based strictly on resume evidence.\n- reward_factor: Explain the best-case scenario — what value or impact the candidate could realistically deliver if successful.\n- fit_duration: State Short-term or Long-term fit and explain why based on experience depth and growth potential.\n- justification_for_rating: Clearly explain the score by referencing total experience, tech stack alignment, role readiness, and job requirements.\n\nReturn ONLY this JSON structure:\n[\n  {\n    \"description\": \"\",\n    \"total_experience\": {\n      \"summary\": \"\",\n      \"internship_months\": 0,\n      \"fulltime_months\": 0,\n      \"relevance_to_role\": \"\"\n    },\n    \"tech_stack\": {},\n    \"candidate_strengths\": [],\n    \"candidate_weaknesses\": [],\n    \"risk_factor_level\": \"Low | Medium | High\",\n    \"risk_factor\": \"\",\n    \"reward_factor_level\": \"Low | Medium | High\",\n    \"reward_factor\": \"\",\n    \"fit_duration\": \"\",\n    \"overall_fit_rating\": 0,\n    \"justification_for_rating\": \"\"\n  }\n]\n\nJob Description:\n{{ $json[\"Job Description\"] }}\n\nCandidate Resume:\n{{ $json.Text }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        0,
        16
      ],
      "id": "b6607843-5500-4a97-bd1d-4dc0f11991ad",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        32,
        208
      ],
      "id": "78a296cb-9eb3-46bd-8afb-41da864e1a04",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "tg6SfAqaIOhlM0xt",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of items) {\n  const rawOutput = item?.json?.output;\n  if (!rawOutput || typeof rawOutput !== 'string') continue;\n\n  const cleaned = rawOutput\n    .replace(/```json/gi, '')\n    .replace(/```/g, '')\n    .trim();\n\n  let parsed;\n  try {\n    parsed = JSON.parse(cleaned);\n  } catch (e) {\n    throw new Error('Failed to parse AI JSON output: ' + e.message);\n  }\n\n  if (!Array.isArray(parsed)) {\n    throw new Error('Parsed AI output is not a JSON array');\n  }\n\n  for (const evaluation of parsed) {\n    results.push({\n      json: {\n        description: evaluation.description || \"Not specified in CV\",\n        total_experience: evaluation.total_experience || \"Not specified in CV\",\n        tech_stack:\n          typeof evaluation.tech_stack === 'object' && evaluation.tech_stack !== null\n            ? evaluation.tech_stack\n            : {},\n        candidate_strengths: evaluation.candidate_strengths || [],\n        candidate_weaknesses: evaluation.candidate_weaknesses || [],\n        risk_factor_level: evaluation.risk_factor_level || \"Not specified in CV\",\n        risk_factor: evaluation.risk_factor || \"Not specified in CV\",\n        reward_factor_level: evaluation.reward_factor_level || \"Not specified in CV\",\n        reward_factor: evaluation.reward_factor || \"Not specified in CV\",\n        fit_duration: evaluation.fit_duration || \"Not specified in CV\",\n        overall_fit_rating: typeof evaluation.overall_fit_rating === 'number'\n          ? evaluation.overall_fit_rating\n          : 0,\n        justification_for_rating: evaluation.justification_for_rating || \"Not specified in CV\"\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        16
      ],
      "id": "495bd5f8-fc3c-4b30-9e0e-81017a2f16de",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const newItems = [];\n\nfunction clean(text) {\n  if (typeof text !== 'string') return '';\n  return text.replace(/\\*\\*/g, '').trim();\n}\n\nfunction toBullets(list) {\n  if (!Array.isArray(list) || list.length === 0) return '';\n  return list.map(v => '• ' + clean(v)).join('\\n');\n}\n\nfunction formatTechStack(techStack) {\n  if (!techStack || typeof techStack !== 'object' || Array.isArray(techStack)) return '';\n\n  return Object.entries(techStack)\n    .filter(([_, values]) => Array.isArray(values) && values.length > 0)\n    .map(([heading, values]) => {\n      return `${heading}:\\n${values.map(v => '• ' + clean(v)).join('\\n')}`;\n    })\n    .join('\\n\\n');\n}\n\nfunction formatTotalExperience(exp) {\n  if (!exp || typeof exp !== 'object') return String(exp || 'Not specified in CV');\n  return [\n    exp.summary || '',\n    exp.relevance_to_role ? `Relevance: ${exp.relevance_to_role}` : '',\n    typeof exp.internship_months === 'number' ? `Internship: ${exp.internship_months} months` : '',\n    typeof exp.fulltime_months === 'number' ? `Full-time: ${exp.fulltime_months} months` : ''\n  ].filter(Boolean).join('\\n');\n}\n\nfor (const item of items) {\n  const strengths = item.json.candidate_strengths || [];\n  const weaknesses = item.json.candidate_weaknesses || [];\n\n  newItems.push({\n    json: {\n      description:                    item.json.description || 'Not specified in CV',\n      total_experience:               formatTotalExperience(item.json.total_experience),\n      tech_stack_formatted:           formatTechStack(item.json.tech_stack),\n      candidate_strengths_formatted:  toBullets(strengths),\n      candidate_weaknesses_formatted: toBullets(weaknesses),\n      risk_factor_level:              item.json.risk_factor_level || 'Not specified in CV',\n      risk_factor_explanation:        item.json.risk_factor || 'Not specified in CV',\n      reward_factor_level:            item.json.reward_factor_level || 'Not specified in CV',\n      reward_factor_explanation:      item.json.reward_factor || 'Not specified in CV',\n      fit_duration:                   item.json.fit_duration || 'Not specified in CV',\n      overall_fit_rating:             typeof item.json.overall_fit_rating === 'number'\n                                        ? item.json.overall_fit_rating\n                                        : 0,\n      justification:                  item.json.justification_for_rating || 'Not specified in CV'\n    }\n  });\n}\n\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        16
      ],
      "id": "49920a98-94dc-42c9-9b9a-627bb553275b",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -176,
        16
      ],
      "id": "8b486252-b1bf-4a7f-bf19-4f434523f862",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1-ZngQ0wTYXVSL9QWaspyqBf77L9PCswNy1FACQxXVhQ",
          "mode": "list",
          "cachedResultName": "CV screening",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-ZngQ0wTYXVSL9QWaspyqBf77L9PCswNy1FACQxXVhQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-ZngQ0wTYXVSL9QWaspyqBf77L9PCswNy1FACQxXVhQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Role Description": "={{ $json.description }}",
            "Total Experience": "={{ $json.total_experience }}",
            "Tech Stack/Tools": "={{ $json.tech_stack_formatted }}",
            "Candidiate Strength": "={{ $json.candidate_strengths_formatted }}",
            "Candidate Weakness": "={{ $json.candidate_weaknesses_formatted }}",
            "Risk Factor Level": "={{ $json.risk_factor_level }}",
            "Risk Factor Explanation": "={{ $json.risk_factor_explanation }}",
            "Reward Factor Level": "={{ $json.reward_factor_level }}",
            "Reward Factor Explaination": "={{ $json.reward_factor_explanation }}",
            "Fit Duration": "={{ $json.fit_duration }}",
            "Overall fit rating": "={{ $json.overall_fit_rating }}",
            "Justification": "={{ $json.justification }}",
            "Email": "={{ $json.email }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Candidate Name",
              "displayName": "Candidate Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date Created",
              "displayName": "Date Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Text",
              "displayName": "Text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Number",
              "displayName": "Contact Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Role Description",
              "displayName": "Role Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Experience",
              "displayName": "Total Experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Current Salary",
              "displayName": "Current Salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Expected Salary",
              "displayName": "Expected Salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Working Hours",
              "displayName": "Working Hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Working Days",
              "displayName": "Working Days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tech Stack/Tools",
              "displayName": "Tech Stack/Tools",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Position",
              "displayName": "Position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason to leave",
              "displayName": "Reason to leave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notice Period",
              "displayName": "Notice Period",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Family Status",
              "displayName": "Family Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Onsite/Offsite",
              "displayName": "Onsite/Offsite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Candidiate Strength",
              "displayName": "Candidiate Strength",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Candidate Weakness",
              "displayName": "Candidate Weakness",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk Factor Level",
              "displayName": "Risk Factor Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk Factor Explanation",
              "displayName": "Risk Factor Explanation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reward Factor Level",
              "displayName": "Reward Factor Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reward Factor Explaination",
              "displayName": "Reward Factor Explaination",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fit Duration",
              "displayName": "Fit Duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Overall fit rating",
              "displayName": "Overall fit rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Justification",
              "displayName": "Justification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reporting To",
              "displayName": "Reporting To",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        -64
      ],
      "id": "03a732a4-8119-4ff3-bb3c-feee444decfd",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A8MbvQboaGafVfdA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        656,
        -224
      ],
      "id": "d6bed429-b780-4f26-8973-1e29756fe3ae",
      "name": "Merge1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d0cc5f84-009a-4617-9807-21776db4390b",
              "leftValue": "={{ $json[\"Role Description\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "eee097bd-b5e6-427d-ae66-9a316b531036",
              "leftValue": "={{ $json[\"Total Experience\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "f521eb95-e04a-4cc9-89df-1318fc2038e1",
              "leftValue": "={{ $json[\"Tech Stack/Tools\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "6dc347d3-ccab-4b98-bbac-68b832ebba0f",
              "leftValue": "={{ $json[\"Candidiate Strength\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16,
        -320
      ],
      "id": "3ad4952f-504a-4b49-8ed6-e949709e68ea",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f26ab641-20e5-4457-bfae-b8fffbcde70e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ab1d1e42bb7755c43555014b9fe27f3aec25737e74fb2177347f8d0abff2d7db"
  },
  "id": "9KohIXIreLFTwF6n",
  "tags": []
}